#selected_img {
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#selected_img img {
    width: 100%;
    height: auto;
}

div.sticker {
    position: absolute;
    bottom: 0px;
    width: 99%;
}
#image_list {
    list-style: none;
    white-space: nowrap;
    margin: auto;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 45%;
}
#image_list li {
    width: 24%;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}
#image_list li img {
    width: 100%;
    height: auto;
}